<app-header></app-header>
<section class="todosprodutos">
    <div class="cardsprotudos conteinergrid row">
        <div class="produto">
            <div class="card">
                <img src="assets/IMG/banner notebook2.jpg" alt="imagem do produto">
                <div class="cardy-body">
                    <h5 class="card-title">Nome do produto </h5>
                    <p class="cardo-text">O melhor produto disponível</p>
                    <a href="#" class="btn btn-primary">Comprar</a>   
                </div>
            </div>
        </div>
        <div class="produto">
            <div class="card">
                <img src="assets/IMG/banner notebook2.jpg" alt="imagem do produto">
                <div class="cardy-body">
                    <h5 class="card-title">Nome do produto </h5>
                    <p class="cardo-text">O melhor produto disponível</p>
                    <a href="#" class="btn btn-primary">Comprar</a>   
                </div>
            </div>
        </div>
        <div class="produto">
            <div class="card">
                <img src="assets/IMG/banner notebook2.jpg" alt="imagem do produto">
                <div class="cardy-body">
                    <h5 class="card-title">Nome do produto </h5>
                    <p class="cardo-text">O melhor produto disponível</p>
                    <a href="#" class="btn btn-primary">Comprar</a>   
                </div>
            </div>
        </div>
        <div class="produto">
            <div class="card">
                <img src="assets/IMG/banner notebook2.jpg" alt="imagem do produto">
                <div class="cardy-body">
                    <h5 class="card-title">Nome do produto </h5>
                    <p class="cardo-text">O melhor produto disponível</p>
                    <a href="#" class="btn btn-primary">Comprar</a>   
                </div>
            </div>
        </div>
        <div class="produto">
            <div class="card">
                <img src="assets/IMG/banner notebook2.jpg" alt="imagem do produto">
                <div class="cardy-body">
                    <h5 class="card-title">Nome do produto </h5>
                    <p class="cardo-text">O melhor produto disponível</p>
                    <a href="#" class="btn btn-primary">Comprar</a>   
                </div>
            </div>
        </div>
        <div class="produto">
            <div class="card">
                <img src="assets/IMG/banner notebook2.jpg" alt="imagem do produto">
                <div class="cardy-body">
                    <h5 class="card-title">Nome do produto </h5>
                    <p class="cardo-text">O melhor produto disponível</p>
                    <a href="#" class="btn btn-primary">Comprar</a>   
                </div>
            </div>
        </div>
        <div class="produto">
            <div class="card">
                <img src="assets/IMG/banner notebook2.jpg" alt="imagem do produto">
                <div class="cardy-body">
                    <h5 class="card-title">Nome do produto </h5>
                    <p class="cardo-text">O melhor produto disponível</p>
                    <a href="#" class="btn btn-primary">Comprar</a>   
                </div>
            </div>
        </div>
        <div class="produto">
            <div class="card">
                <img src="assets/IMG/banner notebook2.jpg" alt="imagem do produto">
                <div class="cardy-body">
                    <h5 class="card-title">Nome do produto </h5>
                    <p class="cardo-text">O melhor produto disponível</p>
                    <a href="#" class="btn btn-primary">Comprar</a>   
                </div>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>
