<app-header></app-header>
<section class="conteiner-xl historia">
    <div class="conteiner-fluid conteudo conteinergrid" >
        <h1>história</h1>
            <h2>começo</h2> 
                <p>Lorem ipsum dolor sit amet. Sed dolor corporis non quas perferendis sit reiciendis saepe aut accusamus maxime non earum sint! Et unde blanditiis ut quia recusandae At expedita inventore sit perferendis ducimus et natus rerum non incidunt dolor aut quos voluptatum? Et dignissimos numquam qui ullam quas non  ullam. </p>
                <p>Sed maiores dolorem qui accusantium quaerat sed officia vero. Qui doloremque nostrum sit laboriosam illum qui iste iure et tempora porro id blanditiis reiciendis. Sed quia doloremque id praesentium asperiores eos iste voluptas et ducimus possimus ut beatae veritatis qui architecto possimus est iusto galisum. Et molestiae blanditiis et labore quia 33 nisi amet ut impedit voluptatibus! </p>
                    <ol>
                        <li>Qui nisi culpa vel nobis voluptatem ut alias exercitationem! </li>
                        <li>Rem incidunt iste rem omnis quisquam et aspernatur nobis  itaque impedit. </li>
                        <li>Aut quidem odio et perspiciatis quisquam ab nisi aspernatur ea galisum adipisci! </li>
                    </ol>
                <p>Aut mollitia quia ut minima tempora et nobis obcaecati ea quidem quam id omnis optio aut cupiditate eaque. Et voluptas velit sed iure unde sit debitis doloremque sit quidem velit et assumenda aliquam. Et aspernatur molestiae et sint nobis rem aspernatur nihil aut ullam omnis id voluptatibus eveniet At impedit omnis. </p>
                <p>Qui recusandae eligendi rem ipsum possimus sed excepturi vitae et fuga dicta est vero laborum quo repellat nobis. Cum voluptas nesciunt ut dicta dolores non excepturi enim ut fugit nisi. At impedit minima aut dolore laboriosam et quasi rerum ea cupiditate labore qui  quasi. </p>
    </div>
</section>
<app-footer></app-footer>