<footer>
    <div class="conteinergrid rodape">
        <div class="endereco">
            <p>av: dos gamers - nº 3214</p>
            <p>são paulo - sp</p>
            <p>cnpj:00.000.00/0009-00</p>
        </div>
        <div>
            <img src="/assets/IMG/Logo GMania.svg" alt="logo game mania">
        </div>
        <div class="contato">                
            <p>contato</p>
            <p>telefone: (00) 1234-1234</p>
            <p>contato@gamemania.com.br</p>
            <div class="redesocial">
                <a href="#">
                    <img src="/assets/IMG/logo telegran.svg" alt="logo telegrans">
                </a><a href="#">
                    <img src="/assets/IMG/logo watsapp.svg" alt="logo watsapp">
                </a><a href="#">
                    <img src="/assets/IMG/logo instagran.svg" alt="logo instagran">            
                </a>
            </div>
        </div>
    </div>
</footer>