<app-header></app-header>
<section class="conteinergrid bannervendas">
    <div class="conteinergrid produtos">
        <div class="boxhover">
            <img  src="/assets/IMG/banner notebook.jpg" alt="imagem de notebook aberto">                    
            <div class="boxhover boxprodutos">
                <a routerLink="/produtos"><h2>acesse os produtos</h2></a>                    
            </div>
        </div>
        <div class="boxhover">
            <img  src="/assets/IMG/banner ps5.jpg" alt="imagem ps5">                       
            <div class="boxhover boxprodutos">
                <a routerLink="/produtos"><h2>acesse os produtos</h2></a>
            </div>
        </div> 
        <div class="boxhover">
            <img  src="/assets/IMG/banner pc gamer.jpg" alt="imagem de pc gamer aberto">                    
            <div class="boxhover boxprodutos">
                <a routerLink="/produtos"><h2>acesse os produtos</h2></a>
            </div>
        </div>          
    </div>
</section>
<section class="bannercomunica"> 
    <div class="conteudocomunica conteinergrid">
        <div class="conteinerjogo d-grid">
            <img src="/assets/IMG/logo minercraft.svg" alt="logo jogo minercraft">
            <p>Explore seus arredores e colete materiais para criar armas, armaduras, comida, ferramentas e materiais de construção. Certas regiões (como o subsolo) possuem materiais mais raros, como obsidiana e redstone, mas é preciso ter os equipamentos certos e, claro, é aconselhável ter um nível alto e bons equipamentos para sobreviver.</p>
            <button type="button" class="btn">acesse o blog</button>
        </div>
        <div class="conteinerjogo d-grid">
            <img src="/assets/IMG/logo fifa.svg" alt="logo jogo fifa">
            <p>Uma das melhores dicas que podemos dar é aprimorar as habilidades defensivas. Isso porque o FIFA 21 é um jogo muito movimentado, que aumentou as possibilidades de dribles e a velocidade em relação aos anteriores. Eliminar os espaços mantendo os defensores em posição e cobrindo erros é uma ótima forma de evitar tomar aqueles gols em que fica só seu goleiro para defender.</p>
            <button type="button" class="btn btn-block">acesse o blog</button>
        </div>
    </div>       
</section>
<app-footer></app-footer>