<app-header></app-header>
<section class="time"> 
    <div class="conteinergrid">
        <div class="pessoal">
            <img src="/assets/IMG/equipe.jpg" alt="imagem.colaborador">
            <h3>equipe</h3>
            <p>A equipe é formada de especialistas em jogos de pc e ps</p>
            <p>Lorem ipsum dolor sit amet. Et dolorum voluptatum non sunt autem qui omnis voluptatem est ipsum officia vel quia corrupti et amet maxime. Ea unde vitae id consequatur blanditiis ex corporis dolor!</p>
        </div>
    </div>                    
</section>
<app-footer></app-footer>